@page "/product/create"
@inject HttpClient http
@inject NavigationManager uriHelper
@inject IJSRuntime js

@inject ICookieService cookieService

<h3>Edit</h3>

<From ButtonText="Create" Dto="@dto" OnValidSubmit="@CreateEntity"/>

@code {
    private string controllerRoute = "api/product";

    private ProductDto dto = new ProductDto();

    async Task CreateEntity()
    {
        //await http.PostAsJsonAsync($"{controllerRoute}", dto, );
        //string token = await js.InvokeAsync<string>("ReadCookie.ReadCookie", "Authorization");
        string token = await cookieService.ReadCookie("Authorization");

        var response = await http.PostJsonAsync($"{controllerRoute}", dto, token);

        if(response.StatusCode == System.Net.HttpStatusCode.OK)
        {
            uriHelper.NavigateTo("product");
        }
        else
        {
            await js.InvokeVoidAsync("alert", $"Something went wrong!");
        }
    }
}