@page "/product/edit/{productId:int}"
@inject HttpClient http
@inject NavigationManager uriHelper
@inject IJSRuntime js

@inject ICookieService cookieService

<h3>Edit</h3>

<From ButtonText="Edit" Dto="@dto" OnValidSubmit="@EditEntity"/>

@code {
    private string controllerRoute = "api/product";

    [Parameter]
    public int productId { get; set; }

    private ProductDto dto = new ProductDto();

    protected async override Task OnParametersSetAsync()
    {
        dto = await http.GetFromJsonAsync<ProductDto>($"{controllerRoute}/{productId}");
    }
    async Task EditEntity()
    {
        string token = await cookieService.ReadCookie("Authorization");

        var response = await http.PutJsonAsync($"{controllerRoute}", dto, token);

        if(response.StatusCode == System.Net.HttpStatusCode.OK)
            uriHelper.NavigateTo("product");
        else
            await js.InvokeVoidAsync("alert", $"Something went wrong!");
    }
}


