@page "/product/edit/{productId:int}"
@inject HttpClient http
@inject NavigationManager uriHelper
@inject IJSRuntime js

<h3>Edit</h3>

<From ButtonText="Edit" Dto="@dto" OnValidSubmit="@EditEntity"/>

@code {
    private string controllerRoute = "api/product";

    [Parameter]
    public int productId { get; set; }

    private ProductDto dto = new ProductDto();
    
    protected async override Task OnParametersSetAsync()
    {
        dto = await http.GetFromJsonAsync<ProductDto>($"{controllerRoute}/{productId}");
    }
    async Task EditEntity()
    {
        await http.PutAsJsonAsync($"{controllerRoute}", dto);
        uriHelper.NavigateTo("product");
    }
}